<div class="jumbotron">
    @if (Session["UserName"] != null)
    {
        @*<text>Welcome @Session["UserName"].ToString()</text>*@
        <table style="width:100%; height:100%">
            <tr style="width: 100%; height:20%">
                <td style="width:20%; height:20%">
                    <label ID="Lbl_1" Width="60px"
                           Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                        test_1
                    </label>
                </td>
                <td style="width:60%; height:60%">
                    <label ID="Lbl_2" Width="60px"
                           Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                        test_2
                    </label>
                </td>
                <td style="width:20%; height:20%">
                    <label ID="Lbl_3" Width="60px"
                           Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                        test_3
                    </label>
                </td>
            </tr>
            <tr style="width: 100%; height:60%">
                <td style="width:20%; height:20%"></td>
                <td style="width:60%; height:60%">
                    <img src="~/Content/images/Soha_Logo.png" />
                </td>
                <td style="width:20%; height:20%"></td>
            </tr>
            <tr style="width: 100%; height:20%">
                <td style="width:20%; height:20%">
                    <label ID="Lbl_1" Width="60px"
                           Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                        test_1
                    </label>
                </td>
                <td style="width:60%; height:60%">
                    <label ID="Lbl_2" Width="60px"
                           Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                        test_2
                    </label>
                </td>
                <td style="width:20%; height:20%">
                    <label ID="Lbl_3" Width="60px"
                           Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                        test_3
                    </label>
                </td>
            </tr>
        </table>
    }
</div>
