@using SohaCRM.Models.User;
@using Web.Framework.UI;
@using Web.Framework;

@model UserListModel

@{
    var defaultGridPageSize = 20;
    var gridPageSizes = 10;

    //page title
    ViewBag.Title = "توجه";
    //active menu item (system name)
    //Html.SetActiveMenuItemSystemName("Log");
}
    <br />
    <br />
    <div style="text-align:center; font-size:xx-large; direction:rtl;">
        <label style="color:indianred">این فرم در حال حاضر عملیاتی نشده است.</label>
    </div>

